@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap');
@font-face {
  font-family: tt-black;
  src: url('../fonts/TT\ Lakes\ Compressed\ Black.otf');
}
@font-face {
  font-family: tt-bold;
  src: url('../fonts/TT\ Lakes\ Condensed\ Bold.otf');
}
@font-face {
  font-family: tt-medium;
  src: url('../fonts/TT\ Lakes\ Medium.otf');
}
@font-face {
    font-family: tt-regular;
    src: url('../fonts/TT\ Lakes\ Regular.ttf');
}
@font-face {
    font-family: teko-regular;
    src: url('../fonts/Teko-Regular.ttf');
}
@font-face {
    font-family: teko-semibold;
    src: url('../fonts/Teko-SemiBold.ttf');
}
@font-face {
    font-family: teko-medium;
    src: url('../fonts/Teko-Medium.ttf');
}
@font-face {
    font-family: teko-bold;
    src: url('../fonts/Teko-Bold.ttf');
}
body{
    /* background-color: #EDF0F2; */
}
.navbar-light.bg-light{
    background-color: #fff !important;
}
.navbar-brand img{
    height: 5rem;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel{
    height: 70vh;
}
.carousel-item, .carousel-inner{
    height: 100%;
}
.carousel-item.active{
    height: 100% !important;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}
.mainLeft{
    height: 70vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding-top: 5rem;
    padding-left: 4rem;
}
.mainLeft h1{
    font-family: 'Teko', sans-serif;
    color: #E44200;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 2.5rem;
    font-weight: 700;
}
.mainLeft p{
    font-size: 0.75rem;
    font-family: tt-regular;
    letter-spacing: 0.28px;
}
#mainSLider .carousel-indicators{
    position: absolute;
    right: -25%;
    bottom: 0;
    top: 0;
    margin: auto;
    left: auto;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    flex-direction: column;
}
#mainSLider .carousel-indicators li{
    font-family: 'Teko', sans-serif;
    text-indent: 0;
      margin: 0 2px;
      width: 30px;
      height: 30px;
      border: none;
      line-height: 30px;
      color: #111;
      font-size: 1.5rem;
      font-weight: 300;
      transition: all 0.25s ease;
      background-color: transparent;
      text-align: right;
      padding: 3px 0;
      padding-left: 10px;
      margin: 5px 0;
}
#mainSLider .carousel-indicators li.active{
     font-size: 2.5rem;
      font-weight: 600;
      border-bottom: 1px solid #111;
}
.navbar-light .navbar-nav .nav-link{
    text-transform: uppercase;
    font-family: teko-semibold;
    color: #111;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}
.mainLeft{   
    position: relative;
}
.sideText{
   position: absolute;
    top: 10.5rem;
    left: -5.5rem;
    font-size: 2.5rem;
    font-family: teko-semibold;
    transform: rotate(-90deg);
    color: #000;
}
.socialMediaBanner{
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
}
.socialMediaBanner ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.socialMediaBanner ul li{
    padding-top: 0.75rem;
}
.socialMediaBanner ul li a{
    color: #000;
    font-size: 0.85rem;
}
.socialMediaBanner ul li a:hover{
    color: #E44200;
}
.featuredWorks{
    padding: 5rem 0;
}
.featuredWorks h2{
    font-family: teko-semibold;
    font-size: 2.25rem;
}
.themeColor{
     color: #E44200 !important;
}
.feat-works img{
    width: 100%;
    height: 13rem;
    object-fit: cover;
    object-position: center;
}
.keySkills{
    color: #C92A42;
    font-family: teko-medium;
    letter-spacing: 0.51px;
    text-transform: uppercase;
    font: normal normal 600 17px/53px Teko;
    line-height: 12px;
}
.f-work-desc{
    text-align: left;
    font-size: 0.75rem;
    font-family: tt-regular;
    letter-spacing: 0.28px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}
.f-workDetails a, .coreValues a, .mainLeft .btnFind{
    display: flex;
    align-items: center;
    color: #000;
    font-family: teko-semibold;
    text-transform: uppercase;
    font-size: 0.85rem;
}
.f-workDetails a:hover, .coreValues a:hover, .mainLeft .btnFind:hover{
    text-decoration: none;
}
.f-workDetails a i, .coreValues a i, .mainLeft .btnFind i{
    color: #E44200;
    font-size: 2rem;
    font-weight: 600;
    padding-right: 0.75rem;
}
.f-work-head{
    font-family: teko-medium;
    font-size: 1.5rem;
    color: #000;
}
.f-workDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feat-works{
    padding: 1.5rem 0;
}
.coreValues h1{
    font-family: teko-bold;
    font-size: 5.5rem;
    line-height: 65px;
    position: relative;
    margin-top: -40px;
    padding-left: 36px;
    color: #dadada;
    margin-bottom: 0;
}
.coreValues ul{
    list-style: none;
    padding-left: 0;
}
.coreValues ul li{
    font-family: teko-bold;
    font-size: 2rem;
    line-height: 42px;
    letter-spacing: 0px;
}
.coreValues h4{
    font-family: teko-semibold;
    font-size: 1.25rem;
    padding-top: 2rem;
}
footer{
   background-image: url(../img/img_footer.png);
    background-position: center;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 3rem;
    position: relative;
}
footer::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(to bottom, #880101, #6a0212, #490916, #290b12, #000000);
    opacity: 0.9;
}
.footerLogo img{
    height: 8rem;
    width: 8rem;
    object-fit: contain;
    position: relative;
    z-index: 3;
}
.footerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactAddress{
    position: relative;
    z-index: 99;
}
.contactAddress h4{
    font-family: teko-semibold;
    color: #E4003B;
    text-transform: uppercase;
    font-size: 2rem;
}
.contactAddress p{
    font-size: 1rem;
    color: #9E9E9F;
    font-family: teko-regular;
}
footer form{
    position: relative;
    z-index: 3;
}
footer .form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid #9E9E9F;
    border-radius: 0;
    color: #fff;
    padding: 0 4px;
    line-height: 12px;
}
footer .form-control::placeholder{
    color: #9E9E9F;
    font-family: teko-medium;
}
footer .form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: none;
    outline: 0;
    box-shadow: none;
}
footer form button.btn-theme{
    background-color: transparent;
    font-family: teko-semibold;
    font-size: 1.4rem;
    color: #E4003B;
    text-transform: uppercase;
}
footer form button.btn-theme:hover{
    color: #fff;
}
.f-socialmedia{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: inline-block;
}
.f-socialmedia li{
      display: inline-block;
      padding:0.5rem 1rem;
      padding-left: 0;
}
.f-socialmedia li a{
    color: #f1f1f1;
}
.f-socialmedia li a:hover{
    color: #E4003B;
}
.projects .coreValues h4{
    padding-top: 0;
    position: relative;
    margin-left: -30px;
}
.projects .coreValues span{
    font-family: teko-semibold;
    font-size: 2.25rem;
}
.filterDiv {
  display: none;
}

.show {
  display: flex;
}
#myBtnContainer li{
    cursor: pointer;
    padding: 0.5rem 0;
    font-family: 'teko-semibold';
    font-size: 2rem;
}
.clicks{
    color: #99949F;
}
.clicks:hover, .clicks.act{
    color: #111;
}
.nav-item.active a{
    color: #E44200 !important;
}
.nav-item a:hover{
    color: #E44200 !important;
}
.whydasHead{        
    font-family: 'teko-semibold';
    font-size: 2.5rem;
    line-height: 2.5rem;
    position: relative;
    margin-top: -40px;
}
.ourTeam{
    padding: 3rem 0;
}
.ourTeam .sideText{
    top: 20vh;
    letter-spacing: 4.62px;
    color: #E44200;
    text-transform: uppercase;
    opacity: 1;
    font-size: 8rem;
    font-weight: 600;
    left: -10rem;
}
.themeCount{
    font-family: teko-semibold !important;
    font-size: 2.25rem;
    position: relative;
    
    margin-left: -40px;
}
#teamSlider .carousel{
    height: 50vh;
}
#teamSlider .carousel-caption{
    position: absolute;
    right: 15%;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background: #EDF0F2;
    color: #000;
    width: 40%;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    padding: 2rem 1.5rem;
}
#teamSlider .carousel-control-prev, #teamSlider .carousel-control-next,
#mainSLider .carousel-control-prev, #mainSLider .carousel-control-next{
    background: #333;
    right: 0;
    left: auto;
    top: auto;
    width: 42px;
    height: 42px;
    opacity: 1;
    color: #111;
}
#teamSlider .carousel-control-prev,
#mainSLider .carousel-control-prev{
    bottom: 43px;
}
#teamSlider .carousel-control-next,
#mainSLider .carousel-control-next{
    bottom: 0;
}

.coreValueCard{
    background: #2A272D;
    height: 20rem;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
}
.coreValueCard img{
    height: 4.5rem;
}
.ourCoreValues{
    padding:3rem 0;
}
.coreValueCard h3{
    text-align: left;
    font-size: 1.4rem;
    letter-spacing: 0px;
    color: #EDF0F2;
    opacity: 1;
    font-family: teko-regular;
}
.themeHead{
    font-family: teko-semibold;
    font-size: 2.25rem;
    text-transform: uppercase;
}
.clientsLogo {
    display: flex;
    flex-wrap: wrap;
}
.clientsLogo img{
    width: 20%;
    object-fit: contain;
    height: 100px;
}
.sideText.clientSays{
    top: 28vh;
    letter-spacing: 0px;
    color: #E44200;
    text-transform: uppercase;
    opacity: 1;
    font-size: 3.8rem;
    font-weight: 600;
    left: -9rem;
}
.carousel.whyDasCarousel{
    height: 80vh;
}
.coreValues img{
    width: 100%;
    position: relative;
    margin-left: -30px;
}
#teamSlider .carousel-control-prev-icon, 
#mainSLider .carousel-control-prev-icon{
    background-image: url('../img/icons/icon-right.png');
    background-size: contain;
}
#teamSlider .carousel-control-prev,
#mainSLider .carousel-control-prev{
    background-color: #E44200;
    opacity: 0.8;
}
#teamSlider .carousel-control-next, 
#mainSLider .carousel-control-next{
    background-color: #EDF0F2;
    opacity: 0.9;
}
#teamSlider .carousel-control-prev:hover, #teamSlider .carousel-control-next:hover,
#mainSLider .carousel-control-prev:hover, #mainSLider .carousel-control-next:hover{
    opacity: 1;
}
#teamSlider .carousel-control-next-icon,
#mainSLider .carousel-control-next-icon{
    background-image: url('../img/icons/ico_arrow.png');
    background-size: contain;
}